<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/search.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="homepage">Admin panel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="homepage">Home</a>
            </li>
          </ul>
          <form class="d-flex" action="find" method="get">
            <input
              class="form-control me-2"
              type="search" 
              name="iofield"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> 
          <form action="/route/logout" method="get">
            <button class="btn btn-outline-warning" type="submit">
                Logout
              </button>
            </form>
        </div>
      </div>
    </nav>
    <br>
    <div class="row justify-content-center create">
      <div class="col col-lg-2 col-md-2 ">
    
     <a href="add-user"> <button class="btn btn-primary" type="submit">Create user</button></a>
    
   
  </div>
  </div>
  <table class="table table-dark container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">email</th>
        <th scope="col">Status /click to toggle</th>
        <th scope="col">edit</th>
        
      </tr>
    </thead>
    <tbody>
      <% for(let i=0;i<userobj.length;i++){ %> 
      <tr>
        <th scope="row"><%= i+1 %> </th>
        <td><%= userobj[i].fname %> </td>
        <td><%= userobj[i].lname %> </td>
        <td><%= userobj[i].email %> </td>
        <% if(userobj[i].isBlocked){ %> 
          <form action="<%= userobj[i]._id %>?_method=PATCH" method="post">
            <td><button class="btn btn-outline-warning" type="submit">Suspended</button></td>
          </form>
          <% } %>
          <% if(!userobj[i].isBlocked){ %> 
            <form action="<%= userobj[i]._id %>?_method=PATCH" method="post">
              <td><button class="btn btn-outline-success" type="submit">Active</button></td>
            </form>
          <% } %>
        <td><a href="<%= userobj[i]._id %> "><button class="btn btn-primary">Edit</button></a></td>
      </tr>
     <% } %> 
    </tbody>

  </table>
  </body>
</html>
